<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jsAndNative.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EE98C711D87E47F00D323DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE98C8A1D87E48000D323DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE98C951D87E48000D323DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
